/* Hide default Swagger logo */
.swagger-ui .topbar .link img {
    display: none !important;
}

/* Custom Logo Container */
.swagger-ui .topbar .link::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px;
    vertical-align: middle;
}

/* Custom Title Text */
.swagger-ui .topbar .link::after {
    content: "BareFoot Swagger Documentation";
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    vertical-align: middle;
    font-family: sans-serif;
}

/* Optional: Adjust header background if needed, keep default black for now */
.swagger-ui .topbar {
    background-color: #1b1b1b;
}
